<h1>Log In</h1>

<form method="POST" action="/auth/login">
<label for="auth-email">Email</label>
<input type="email" id="auth-email" name="email">

<label for="auth-password">Password</label>
<input type="password" id="auth-password" name="password">

<input type="submit" value="Log In">
</form>