
<div class="logInContainer">

<div class= "loginEmail">
<form method="POST" action="/auth/login">
<label for="auth-email"></label>
<input id="zipTextBox" type="email" id="auth-email" name="email" placeholder="your@email.com">
</div>
<div class = "loginPassword">
<label for="auth-password"></label>
<input id="zipTextBox" type="password" id="auth-password" name="password" placeholder="password">
</div>

<input class = "loginSubmit" type="submit" value="Log In">
</form>

</div>