
<div class="logInContainer">

<div>
<form method='POST' action="/auth/signup">


<label for="new-name"></label>
<input id="zipTextBox" type="text" name="name" id="new-name" placeholder="name">
</div>

<div>
<label for="new-email"></label>
<input id="zipTextBox" type="email" name="email" id="new-email" placeholder="your@email.com">
</div>

<div>
<label for="new-password"></label>
<input id="zipTextBox" type="password" name="password" id="new-password" placeholder="password">
</div>


<input class = "loginSubmit" type="submit" value="Sign Up">

</form>

</div>