
<div class="welcome">
    <img id="logo" src="https://i.imgur.com/3Ymxr7z.png" alt="inhale logo">
    <div id="THEFORM">
    <form id="locationZipSearch" method="GET" action="/show">
        <div>
        <input id="zipTextBox" type='number' placeholder="Enter Zip Code" class='zip' id='zip' name='zip'>
    </div>
        <div id="submitButtonDiv">
        <input id="submitButton" type='submit' value="submit">
        </div>
    </form>
</div>
   




<div id="welcomeText"><strong>Welcome to inhale, your air quality monitor. </strong><br> View air quality data and learn how to lessen your contribution to sources of pollution in your area. <br> With your help, we will all be able to inhale a little easier.</div>
</div>

