

<div class="welcome">
    <img id="logo" src="https://i.imgur.com/3Ymxr7z.png" alt="inhale logo">
    <div id="THEFORM">
    <form id="locationZipSearch" method="GET" action="/show">
        <!-- <label id="zipText" for='zip'>Enter Zip Code:</label><br> -->
        <input id="zipTextBox" type='number' placeholder="Enter Zip Code" class='zip' id='zip' name='zip'>
        <br>
        <input id="submitButton" type='submit'>
    </form>
</div>
    <div id="welcomeText">Welcome to inhale, an air quality monitoring application. View air quality data in your location and learn how to lessen your contribution to your area's biggest sources of pollution. Create an account to store locations and save journal entries detailing your personal health symptoms in response to a location's air quality. With your help, we will all be able to inhale a little easier.
    </div>
</div>




<!-- <form id="locationSearch" method="GET" action="/show">
    <label for='lat'>Latitude</label>
    <input type='text' class='lat' id='lat' name='lat'>
    <label for='long'>Longitude</label>
    <input type='text' class='long' id='long' name='long'>
    <input type='submit'>
</form> -->
<!-- <form id="locationZipSearch" method="GET" action="/show">
    <label for='zip'>Zip Code:</label>
    <input type='number' class='zip' id='zip' name='zip'>
    <input type='submit'>
</form> -->
