<h1>Here is the homepage</h1>
<p>Search for a location:</p>

<!-- <form id="locationSearch" method="GET" action="/show">
    <label for='lat'>Latitude</label>
    <input type='text' class='lat' id='lat' name='lat'>
    <label for='long'>Longitude</label>
    <input type='text' class='long' id='long' name='long'>
    <input type='submit'>
</form> -->

<form id="locationZipSearch" method="GET" action="/show">
    <label for='zip'>Zip Code</label>
    <input type='number' class='zip' id='zip' name='zip'>
    <input type='submit'>
</form>
