<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection"/>
    <title>Inhale</title>
</head>
<body>
    <header>
        <nav>
                <div class="nav">
                <% if (!currentUser) { %>
                <a id="homeButton" href="/">inhale</a></li>
                <a id="signupButton" href="/auth/signup">signup</a></li>
                <a id="loginButton" href="/auth/login">login</a></li>
                <% } else { %>
                <a id="homeButton" href="/">inhale</a></li>
                <a id="logoutButton" href="/auth/logout">logout</a></li>
                <a id="profileButton"href="/profile/journal">journal</a></li>
                <a id="profileButton"href="/profile"><%= currentUser.name %></a></li>
                
                </div>
                <% } %>
           
        </nav>
    </header>
    <div class="footer">Air Quality Data Provided by <a href="https://breezometer.com/">Breezometer</a></div>
    <%- include('partials/alerts') %>
    <%- body %>
    <script type="text/javascript" src="materialize.js"></script>
</body>
</html>