<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Auth</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <% if (!currentUser) { %>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
                <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %>
</body>
</html>