body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url("https://img2.pngio.com/cloudy-sky-background-png-transparent-cloudy-sky-backgroundpng-light-blue-sky-png-2176_1493.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #1a4863
}

/*
###################
HEADER/FOOTER
###################
*/

.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #246084;
    color: white;
    text-align: right;
  }

header {
    left: 0;
    top:0;
    width: 100%;
    background-color: #246084;
    overflow: hidden;
}

#signupButton, #homeButton, #loginButton, #logoutButton, #profileButton {
        color: #f2f2f2;
        text-align: center;
        padding: 2vw;
        text-transform: lowercase;
        font-size: 1.5em;
        text-decoration: none;

}
#signupButton:hover, #homeButton:hover, #loginButton:hover, #logoutButton:hover, #profileButton:hover {
    background-color: grey
}

#signupButton, #logoutButton, #loginButton, #profileButton {
    float: right;
}

#homeButton {
    float:left;
}

/*
###################
HOME PAGE
###################
*/

.welcome {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 0vw;
    border-bottom-left-radius: 0vw;
    margin: 6vw 10vw 0 10vw;
    background-color: rgba(255, 255, 255, .8);
}

#logo {
 width: 35em;
 height: 13em;
}

#welcomeText {
    text-align: center;
    font-size: 1em;
    color: #246084;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 1vw;
    /* margin-top: -1vw; */
}


#THEFORM {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#submitButton{
    text-align: center;
    height:40px;
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    background: #246084;
    color: white;
    border: 1px solid white;
}
#submitButtonDiv {
    text-align: center;
}

#submitButton:hover{
    background:gray
}

#zipTextBox {
    font-size: 20px;
    height: 50px;
    width: 250px;
}


/* 
###################
SIGN UP/LOGIN PAGES
###################
*/

.logInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw 20vw 0 20vw;
}

.loginSubmit {
    height:40px;
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    background: #246084;
    color: white;
    border: 1px solid white;
}

.loginSubmit:hover{
    background:gray
}

/*
###################
SHOW PAGE
###################
*/

.topShowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleShowContainer {
    border: 1px solid black;
    display:flex;
    align-items: stretch;
    align-content: center;
    margin: 0vw 10vw 10vw 10vw;
    background-color: rgba(255, 255, 255, .8);
}

.apiContainer, .pollutantsContainer {
    text-align: center;
    flex-basis: 100%;
    border: 2px solid grey;
}
.pollutantsContainer {
    text-align: left;
}

.learnMore:hover{
    background:gray
}

table {
  
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .pollutants {
      text-align:center;
  }

 .showText {
     font-size: 20px;
     text-align: center;
 }

 .favoriteForm {
     text-align: center;
 }

 #favoritesButton {
    height:50px;
    width: 175px;
    font-size: 20px;
    border-radius: 5px;
    background: #246084;
    color: white;
    border: 1px solid white;
    margin: 1vw 0 0 0;
 }

 #favoritesButton:hover {
     background: grey;
 }

.inhaleLogo{
  text-align:center;
  margin-top:-10vw;
  margin-bottom: 2vw;
 }

/*
###################
PROFILE
###################
*/
 
 #profileName {
     text-align: center;
     color: #1a4863
 }

 .favoritesContainer {
    text-align:center;
    border: 3px solid grey;
    margin: 1vw;
    display:inline-block;
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5vw;
 }

.faveZip {
     font-size: 30px;
     display: inline;
 }

.deleteFave {
    height:40px;
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    background: #246084;
    color: white;
    border: 1px solid white;
}

.deleteFave:hover{
    background: grey;
}

.myLocations {
 margin-left: 1vw;
 color: #1a4863
}

/*
###################
JOURNAL
###################
*/

.journalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 25em;
    align-items: stretch;
    margin: 0vw 25vw 3vw 25vw;
}


.newEntryContainer {
    border: 2px solid grey;
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    padding-bottom: 1vw;
    align-items: stretch;
}

.newEntryContainer * {
    padding: 2px;
}

#journalTitle {
    width: 29vw;
    height: 2vw;
}

#journalTextArea {
    width: 29vw;
    height: 8vw;
}

.previousEntryContainer {
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}

.entries {
    text-align: left;
    padding-left: 1px;
    border: 2px solid grey;
}

.actualEntry{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    font-size: 23px;
}

.previousEntriesText {
    background: lightgrey;
    border: 2px solid grey;
   
}

.journalButtons {
    
    display: flex;
    justify-content: center;
    margin: 2px;

}
.entryTitle {
    text-align: center;
}


.updateJournalButton {
    height:45px;
    width: 150px;
    font-size: 20px;
    border-radius: 5px;
    background: #246084;
    color: white;
    border: 1px solid white;
}

.updateJournalButton:hover {
    background: gray
}

/* 
################
POLLUTANT PAGES
################ 
*/

.infoContainer {
    background-color: rgba(255, 255, 255, .3);
}

.infoContainerTop {
    text-align: center;
    margin: 0 8vw 0 8vw
}

.pollContainer1 {
    display: flex;
    margin: 1vw 8vw 0 8vw;
    justify-content: center;
}


.pollSubContainer1 {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1 1 0px;
    margin: 0 0 2vw 0;
}

.pollSubInfo {
    text-align: left;
}

.pollTitle {
    font-size: 4vw;
}
.pollInfo {
    margin-left: 12vw;
    margin-right: 12vw;
}


/* 
################
PHONE ADJUSTMENTS 
################
*/

@media only screen and (max-width: 600px) {
    #logo {
        height: 125px;
        width: 290px;
    }
    #zipTextBox {
        height: 50px;
        width: 175px;
    }
   
    #welcomeText{
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0);
    }

    .middleShowContainer {
        display: flex;
        flex-direction: column;
    }
    #welcomeText {
        padding: 0;
        margin-top: 1vw;
    }
    .journalContainer {
        margin: 0vw 10vw 5vw 10vw;
    }
    #journalTitle {
        width: 65vw;
        height: 2vw;
    }
    
    #journalTextArea {
        width: 65vw;
        height: 20vw;
    }
    .pollTitle {
        font-size: 8vw;
    }
}

