<div class="infoContainer">

    <div class="infoContainerTop">
    <div class="pollTitle">Carbon Monoxide (CO)</div>
    <div class="pollInfo">Released when something is burned, CO is an odorless, colorless gas that can be harmful in large quantities. It is emitted by cars, trucks, gas heaters, and stoves.</div>
    <img src="https://i.imgur.com/U8M266t.png" height="20%" width="20%">
    
    
    
    <div class="pollContainer1">
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Health Effects</h2>
    <div class="pollSubInfo">
        Although high levels are not likely to occur outdoors, CO can cause:
    <li>dizziness</li>
    <li>confusion</li>
    <li>unconsciousness</li> 
    <li>death</li>
    </div>
    </div>
    
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">What Can I Do?</h2>
    <div class="pollSubInfo">
    <li>Choose cleaner commute - share a ride or take public transport.</li>
    <li>Do not idle cars or machinery.</li>
    </div>
    </div>
    </div>
    <!-- <img class="pollImg" src="https://i.imgur.com/r3cyZcv.jpg" height="50%" width="50%"> -->
    </div>