<div class="infoContainer">

    <div class="infoContainerTop">
    <div class="pollTitle">Ozone (O3)</div>
    <div class="pollInfo">Ozone is a beneficial gas when it is in the upper atmosphere, as it shields us from the sun's harmful ultraviolet rays. However, it is harmful if found at ground level. Ozone is emitted by cars, power plants, boilers, and refineries.</div>
    <img src="https://i.imgur.com/Fa9AZTl.png" height="20%" width="20%">
    
    
    
    <div class="pollContainer1">
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Health Effects</h2>
    <div class="pollSubInfo">
    <li>Chest pain</li>
    <li>Coughing</li>
    <li>Throat irritation</li> 
    <li>Airway inflamation</li>
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Environmental Effects</h2>
    <div class="pollSubInfo">
        <li>Harmful to growth of sensitive vegetation</li>
        <li>Reduced crop production</li>
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">What Can I Do?</h2>
    <div class="pollSubInfo">
    <li>Choose cleaner commute - share a ride or take public transport.</li>
    <li>Combine errands and reduce trips.</li>
    <li>Conserve energy at home and at work.</li>
    <li>Refuel your car in the evening when it is cooler.</li>
    </div>
    </div>
    </div>
    <img class="pollImg" src="https://i.imgur.com/r3cyZcv.jpg" height="50%" width="50%">
    </div>