<div class="infoContainer">

    <div class="infoContainerTop">
    <div class="pollTitle">Particulate Matter (PM10)</div>
    <div class="pollInfo">Particulate Matter is a term that describes a mixture of solid particles like dust, soot, or smoke and liquid droplets found in the air. PM10 describes inhalable particles with diameters that are around 10 micrometers. PM can be directly emitted from construction sites, unpaved roads, fields, or fires.</div>
    <img src="https://i.imgur.com/P54fG3F.png" height="20%" width="20%">
    
    
    
    <div class="pollContainer1">
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Health Effects</h2>
    <div class="pollSubInfo">
    Exposure to particles can affect the lungs and heart, including
    <li>irregular heartbeats</li>
    <li>decreased lung function</li>
    <li>irritation of the airways</li> 
    <li>shortness of breath</li>
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Environmental Effects</h2>
    <div class="pollSubInfo">
        <li>Haze</li>
        <li>Changing of chemical composition of bodies of water and soil nutrients.</li>
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">What Can I Do?</h2>
    <div class="pollSubInfo">
    <li>Stop or reduce smoking</li>
    <li>Mulch garden refuse instead of burning it</li>
    <li>Limit the use of fireplaces and wood stoves</li>
    <li>Switch to cleaner burning appliances</li>
    <li>Take action to reduce wildfires</li>
    </div>
    </div>
    </div>
    <!-- <img class="pollImg" src="https://i.imgur.com/r3cyZcv.jpg" height="50%" width="50%">  -->
    </div>

