<div class="infoContainer">

    <div class="infoContainerTop">
    <div class="pollTitle">Sulfur Dioxide (SO2)</div>
    <div class="pollInfo">Sulfur dioxide enters the atmosphere by the burning of fossil duels by power plants and other industrial facilities.</div>
    <img src="https://i.imgur.com/LeCkYjO.png" height="20%" width="20%">
    
    
    
    <div class="pollContainer1">
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Health Effects</h2>
    <div class="pollSubInfo">
    <li>Irritation of the respiratory symptom</li>
    <li>Aggravation of preexisting conditions like asthma</li>
    <li>Cough or shortness of breath</li> 
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">Environmental Effects</h2>
    <div class="pollSubInfo">
        <li>Damages leaves of plants</li>
        <li>Decreases growth of plants</li>
    </div>
    </div>
    
    <div class="pollSubContainer1">
    <h2 class="pollSubTitle">What Can I Do?</h2>
    <div class="pollSubInfo">
    <li>Support the EPA in their air quality standards to help reduce SO2 in our atmosphere.</li>
    </div>
    </div>
    </div>
    <!-- <img class="pollImg" src="https://i.imgur.com/r3cyZcv.jpg" height="50%" width="50%"> -->
    </div>
